{% extends "admin/change_list.html" %}

{% block object-tools-items %}

<li>

    <a href="/apps/app/segments_sales_app/"

       target="_blank">

        Открыть в новом окне

    </a>

</li>

{% endblock %}

{% block result_list %}

<div style="padding:16px 0;">

    <iframe

        src="/apps/app/segments_sales_app/"

        width="100%"

        height="1000"

        style="

            border:none;

            border-radius:12px;

            background:white;

        ">

    </iframe>

</div>

{% endblock %}