/* static/fonts/glyphs.css */

@font-face {
  font-family: "NotoManu";
  src: url("/static/fonts/NotoManu-Regular4.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "NotoManuGlyph";
  src: url("/static/fonts/NotoManu-Regular4.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


/* Класс для символа арендатора */
.tenant-glyph {
  font-family: "NotoManu", sans-serif !important;
  font-size: 36px;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.tenant-glyph-small {
  font-family: "NotoManu", sans-serif !important;
  font-size: 14px;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}



/* Для Tree */
.tenant-tree .mantine-Tree-label {
  font-family: "NotoManu", sans-serif !important;
  font-size: 14px !important;
  line-height: 1 !important;
}
/* 
.tenant-tree .mantine-Tree-node {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
} */



/* выбранное значение в инпуте */
.tenant-select-input {
  font-family: "NotoManu", var(--mantine-font-family), sans-serif !important;
}

/* строки в выпадающем списке */
.tenant-select-option {
  font-family: "NotoManu", var(--mantine-font-family), sans-serif !important;
}




/* ===== Render glyph by codepoint (E07B) via data-glyph ===== */

/* ===== Render glyph by codepoint (E07B) via data-glyph ===== */
.tenant-glyph-icon::before,
.tenant-glyph-icon-small::before {
  font-family: "NotoManuGlyph", sans-serif !important;
  line-height: 1;
  display: inline-block;
  content: "";
}

.tenant-glyph-icon::before { font-size: 36px; }
.tenant-glyph-icon-small::before { font-size: 14px; }

/* ===== Preview ===== */
.tenant-glyph-preview::before {
  font-family: "NotoManuGlyph", sans-serif !important;
  font-size: 18px;
  line-height: 1;
  display: inline-block;
  content: "";
}






