/* Django admin changelist table wrapper */
#changelist-form .results {
  overflow-x: auto;
}

/* чтобы таблица не сжималась и реально уходила в горизонтальный скролл */
#changelist-form .results table {
  min-width: 1400px; /* подгони под себя */
  white-space: nowrap;
}
