<table class="cards">
    <tr>
        <td class="card">
            <div class="card-title">План</div>
            <div class="card-value">{{ summary.plan_total }}</div>
        </td>
        <td class="card">
            <div class="card-title">Факт</div>
            <div class="card-value">{{ summary.fact_total }}</div>
        </td>
        <td class="card">
            <div class="card-title">Отклонение</div>
            <div class="card-value {{ summary.delta_class }}">{{ summary.delta_total }}</div>
        </td>
        <td class="card">
            <div class="card-title">% выполнения</div>
            <div class="card-value">{{ summary.execution_total }}</div>
        </td>
    </tr>
</table>