<div id="section-sales"></div>
<div class="section-title section-title-roman">I. Операционные показатели продаж</div>

{% include "budget/sections/sales/_overview.html" %}
{% include "budget/sections/sales/_drivers.html" %}
{% include "budget/sections/sales/_correlations.html" %}
{% include "budget/sections/sales/_monthly_weekly.html" %}
{% comment %} {% include "budget/sections/sales/_top_products.html" %} {% endcomment %}
{% include "budget/sections/sales/_categories.html" %}
{% include "budget/sections/sales/_geography.html" %}
{% include "budget/sections/sales/_vat.html" %}
{% include "budget/sections/sales/_certificates.html" %}
